<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form  method="post">
        <label for="signupEmail">Email:</label>
        <input type="email" name="signupEmail" id="signupEmail" required>
        <label for="signupPswd">Password:</label>
        <input type="password" name="signupPswd" id="signupPswd" required>
        <input type="submit" value="submit">
    </form>
</body>
</html>